input[type=text]{
    outline: none;
    width:95%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    height:4rem;
    padding:1rem 2rem;
    border:1px solid #20232a;
    border-radius: .5rem;
}

.form_add{
    margin-bottom: 2rem;
}


@media screen and (min-width:600px) {
    input[type=text] {
        width:80%;
    }
}

@media screen and (min-width:768px) {
    input[type=text] {
        width:60%;
    }
}

@media screen and (min-width:1024px) {
    input[type=text] {
        width:40%;
    }
}